<%- title ||= 'counter' -%>
<%- count ||= 0 -%>
<%- icon ||= 'question' -%>
<%- color ||= 'primary' -%>
<div class="col-xl-4 col-md-6 mb-4">
  <div class="card shadow">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="font-weight-bold text-<%= color %> text-uppercase mb-1"><%= title %></div>
          <div class="mb-0 font-weight-bold"><%= count %></div>
        </div>
        <div class="col-auto text-secondary">
          <%= icon_for icon, '2x' %>
        </div>
      </div>
    </div>
  </div>
</div>
