<%- content_for :buttons do -%>
  <% if can?(:destroy, @regulation) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, regulation_path(@regulation), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<% content_for :icon, @regulation.icon %>
<% content_for :title, _('Editing climbing regulation') %>

<%= render 'form', regulation: @regulation %>
