<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :icon, Regulation.icon -%>
  <%- content_for :title, _('All climbing regulations') -%>
<%- end -%>

<%= render partial: 'regulations/global_search_form' %>

<ul class="content-list">
  <% @regulations.each do |regulation| %>
    <%= render(
      partial: 'regulations/content-list/default',
      locals: {
        item: regulation,
        include_geo_ref: @base_object.nil?
      }
    ) %>
  <% end %>
</ul>

<%= paginate @regulations %>
