<% if can?(:destroy, @secondary_zone) -%>
  <%= link_to(
    "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,
    [@geo_ref.as_base_class, @secondary_zone],
    method: :delete,
    data: { confirm: _('Are you sure?') },
    class: 'btn btn-danger pull-right' 
  ) %>
<% end %>

<h1><%= _('Editing Secondary Climbing Zone') %></h1>

<%= render 'form' %>
