<%- include_geo_ref ||= false %>
<li>
  <div class="title">
    <%- if include_geo_ref -%>
      <%= icon_link_to item.geo_ref.icon, item.geo_ref.name, geo_ref_path(item.geo_ref) %> /
    <%- end -%>
    <%= link_to item.name, item %>
    <small><%= item.abbr %></small>
  </div>
</li>
