<% content_for :title, _('Internal server error') %>
<% content_for :icon, 'exclamation-circle' %>

<div class="text-center">
  <h1 class="display-1">500</h1>
  <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
  <p class="lead"><%= _('Sorry, something went wrong.') %></p>
  <p><%= _('The server was unable to process your request.') %></p>
</div>
