<template>
  <div class="partial-date-input">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Year</span>
          </div>
          <input
            class="form-control"
            v-model="year"
            placeholder="YYYY"
            :name="`${model}[${prefix}_year]`"
            type="number"
            min="1900"
            max="2100"></input>
          </div>
      </div>
      <div v-if="year" class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Month</span>
          </div>
          <input
            class="form-control"
            v-model="month"
            :name="`${model}[${prefix}_month]`"
            type="number"
            min="1"
            max="12"></input>
        </div>
      </div>
      <input v-else type="hidden" :name="`${model}[${prefix}_month]`" value=""></input>
      <div v-if="year && month" class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Day</span>
          </div>
          <input
            class="form-control"
            v-model="day"
            :name="`${model}[${prefix}_day]`"
            type="number"
            min="1"
            max="31"></input>
        </div>
      </div>
      <input v-else type="hidden" :name="`${model}[${prefix}_day]`" value=""></input>
    </div>
  </div>
</template>

<script>
module.exports = {
  props: {
    model: {
      type: String,
      required: true
    },
    prefix: {
      type: String,
      required: true
    },
    initialYear: {
      type: Number,
    },
    initialMonth: {
      type: Number,
    },
    initialDay: {
      type: Number,
    }
  },
  data: function () {
    return {
      year: this.initialYear,
      month: this.initialMonth,
      day: this.initialDay,
    }
  }
}
</script>
