<template>
  <div class="selectable-list">
    <input type="hidden" :name="name" value="" />
    <table class="table">
      <tbody>
        <tr v-if="haveMultipleItems" class="d-flex bg-light">
          <th class="col-auto">
            <input type="checkbox" v-model="selectAll" @click="select">
          </th>
          <th class="col"></th>
        </tr>
        <tr class="d-flex" v-for="item in items">
          <td class="col-auto">
            <input :name="name" type="checkbox" :value="item.id" v-model="selected">
          </td>
          <td class="col">{{item.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
module.exports = {
  props: {
    name: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      defaul: [],
    },
    initialSelected: {
      type: Array,
      defaul: [],
    }
  },
  data: function () {
    return {
      items: this.items,
      selected: this.initialSelected, 
      selectAll: false
    }
  },
  methods: {
		select() {
			this.selected = [];
			if (!this.selectAll) {
				for (let i in this.items) {
					this.selected.push(this.items[i].id);
				}
			}
		}
	},
  computed: {
    haveMultipleItems() {
      if(this.items.length > 1) { return true }

      return false
    }
  }
}
</script>
