<%- content_for :buttons do -%>
  <% if can?(:create, GeoRef) -%>
    <%= link_to "<span class=\"fa fa-plus\"></span> #{_('New Country')}".html_safe, new_geo_refs_path(type: 'Country'), class: 'btn btn-success pull-right' %>
  <% end -%>
<% end -%>

<%- content_for :title, _('Locations') -%>
<%- content_for :icon, GeoRef.icon -%>

<%= render partial: 'geo_refs/primary_tab_nav' %>

<%- content_for :breadcrumb do -%>
  <%= render partial: 'parent_breadcrumb_nav', :locals => { :geo_ref => GeoRef.new } %>
<%- end -%>

<ul class="content-list">
  <% @geo_refs.each do |geo_ref| -%>
    <%= render partial: 'geo_refs/content-list/default', :locals => { :item => geo_ref } %>
  <% end -%>
</ul>

