<%- content_for :title, _('Locations') -%>
<%- content_for :icon, GeoRef.icon -%>

<%= render partial: 'geo_refs/primary_tab_nav' %>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Type') %>
    <%= f.select :type_eq,
      GeoRef.geo_ref_types.map { |t| [t, t] },
      { include_blank: true },
      { :class => 'form form-control form-group' } %>
  </div>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, class: 'form-control', placeholder: _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <% @geo_refs.each do |geo_ref| -%>
    <%= render partial: 'geo_refs/content-list/default', :locals => { :item => geo_ref } %>
  <% end -%>
</ul>

<%= paginate @geo_refs %>

