<%= simple_form_for([@route, @route_link], url: new_route_route_link_path(@route), method: :get) do |form| -%>
  <%= form.error_notification %>

  <%= form.input(
    :kind,
    label: _('Type'),
    hint: _('Type of relation between the routes.'),
    as: :select,
    collection: RouteLink.kind_descriptions.map { |k,desc| [_(desc),k] },
    include_blank: false,
  ) %>

  <%= form.button :submit, _('Continue') %>
<% end -%>
