<%= icon_for route_link %>
<%- path_helper ||= :route_path -%>
<%- route_name = link_to route_link.route_to.name, send(path_helper, route_link.route_to) -%>
<%- case route_link.kind -%>
<%- when 'belay' -%>
  <%= _('Uses the belay of %{route_name}.').html_safe % { route_name: route_name } %>
<%- when 'start_with' -%>
  <%= _('Starts with the route %{route_name}.').html_safe % { route_name: route_name } %>
<%- when 'end_with' -%>
  <%= _('Ends with the route %{route_name}.').html_safe % { route_name: route_name } %>
<%- when 'cross' -%>
  <%= _('Crosses the route %{route_name}.').html_safe % { route_name: route_name } %>
<%- when 'overlap' -%>
  <%= _('Overlaps with the route %{route_name}.').html_safe % { route_name: route_name } %>
<%- end -%>
<%- if can? :update, route_link -%>
  <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_route_route_link_path(route_link.route_from, route_link), class: 'btn btn-link btn-sm' %>
<%- end -%>
</br>
