// Place all the styles related to the Grades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grade-very-easy {
  background-color: #f7ca18;
  color: #fff;
}
.grade-easy {
  background-color: #5b8930;
  color: #fff;
}
.grade-medium {
  background-color: #4b77be;
  color: #fff;
}
.grade-hard {
  background-color: #cf000f;
  color: #fff;
}
.grade-extrem {
  background-color: #424242;
  color: #fff;
}
.grade-ultra {
  background-color: #E4BE6C;
  color: #333;
}
.grade-no-category {
  background-color: #888;
  color: #333;
}
