<% content_for :buttons do %>
  <% if can?(:admin, User) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New user')}".html_safe,
      new_admin_user_path,
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, _('Users') %>
<% content_for :icon, User.icon %>

<%= render partial: 'admin/users/secondary_tab_nav' %>

<%= search_form_for @q, url: @search_url do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, class: 'form-control', placeholder: _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<hr/>

<ul class="content-list">
  <% @users.each do |user| %>
    <%= render(
      partial: 'admin/users/content-list/default',
      locals: { item: user }
    ) %>
  <% end %>
</ul>

<%= paginate @users %>
