<div class="alert alert-info" role="alert">
  <strong>
    <i class="fa fa-info" aria-hidden="true"></i>
    <%= _('Route closures') %>
  </strong><br>
  <%= _('Some routes at this location are affected by closures.') %>
</div>
