<%-
  tooltip = if closure.active?
              _('There is an active closure for this route')
            else
              _('There is a inactive closure for this route')
            end
-%>
<span class="badge badge-<%= closure.active? ? 'danger' : 'success' %>"
      data-toggle="tooltip"
      title="<%= tooltip %>">
  <i class="fa fa-<%= closure.active? ? 'lock' : 'unlock' %>" aria-hidden="true"></i>
</span>
