<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <% content_for :title, _('All Closures') %>
  <% content_for :icon, Closure.icon %>
<%- end -%>

<ul class="content-list">
  <% @closures.each do |closure| -%>
    <%= render(
      partial: 'closures/content-list/feed',
      locals: { item: closure }
    ) %>
  <% end -%>
</ul>

<%= paginate @closures %>
