<% content_for :icon, Ticklist.icon unless [GeoRef, Route].include? @base_object.class -%>

<% if @base_object == current_user -%>
  <% content_for :title, _('My Ticklist') %>
  <% content_for :buttons do %>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('Add Route')}".html_safe,
      new_user_ticklist_path(current_user),
      class: 'btn btn-success pull-right'
    ) %>
  <%- end -%>
<% elsif @base_object.is_a?(User) -%>
  <%- content_for :title do -%>
    <%= _('Ticklist of %{name}') % { name: @base_object.name } %>
  <%- end -%>
<% elsif @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<% elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<% else -%>
  <%- content_for :title, _('All Ticklist entries') -%>
<% end -%>

<% if @base_object.is_a? GeoRef -%>
  <%= render partial: 'ticklists/geo_ref_search_form' %>
<% elsif @base_object.is_a? Route -%>
<% else -%>
  <%= render partial: 'ticklists/global_search_form' %>
<% end -%>

<ul class="content-list">
  <% @ticklists.each do |ticklist| %>
    <%= render partial: 'ticklists/content-list/default', :locals => { :item => ticklist } %>
  <% end %>
</ul>

<%= paginate @ticklists %>
